<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :workout_date %>
    <%= form.datetime_select :workout_date, class: "form-control" %>
  </div>

  <div class="row form-group">
    <div class="col-sm">
      <%= form.label :weight %>
      <%= form.text_field :weight, class: "form-control" %>
    </div>
    <div class="col-sm">
      <%= form.label :bone_density %>
      <%= form.text_field :bone_density, class: "form-control" %>
    </div>
    <div class="col-sm">
      <%= form.label :bmi %>
      <%= form.text_field :bmi, class: "form-control" %>
    </div>
    <div class="col-sm">
      <%= form.label :body_fat %>
      <%= form.text_field :body_fat, class: "form-control" %>
    </div>
    <div class="col-sm">
      <%= form.label :muscle_mass %>
      <%= form.text_field :muscle_mass, class: "form-control" %>
    </div>
    <div class="col-sm">
      <%= form.label :water %>
      <%= form.text_field :water, class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm">
      <%= form.label :member_id %><br />
      <%= form.collection_select(:member_id, Member.order(:last_name) , :id, :last_name, { prompt: true }, class: "autocomplete") %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm">
      <%= form.label :comments %>
      <%= form.text_area :comments, class: "form-control" %>
    </div>
  </div>

  <h3>Exercise</h3>
  <%= form.nested_fields_for :exercises do |ff| %>
    <br />
    <div class="card" style="margin: 10px 0; padding: 20px; background-color: #eee">
      <%= ff.remove_nested_fields_link 'Remove me', class: 'btn btn-danger', role: 'button' %>

      <br />
      <div class="row">
        <div class="col-sm">
          <%= ff.label :name %>
          <%= ff.text_field :name, class: "form-control" %>
        </div>

        <div class="col-sm">
          <%= ff.label :total_set %>
          <%= ff.number_field :total_set, class: "form-control" %>
        </div>

        <div class="col-sm">
          <%= ff.label :weights %>
          <%= ff.number_field :weights, class: "form-control" %>
        </div>

        <div class="col-sm">
          <%= ff.label :duration %>
          <%= ff.number_field :duration, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= ff.label :comments %>
          <%= ff.text_area :comments, class: "form-control" %>
        </div>
      </div>
      <%= ff.hidden_field :_destroy, class: 'btn btn-danger' %>
    </div>
  <% end %>
  <%= form.add_nested_fields_link :exercises, 'Add exercise', class: "btn btn-secondary" %>

  <br />
  <br />
  <br />

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
