<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1>Workouts</h1>
<%= render "layouts/search" %>
<table class="table">
  <thead>
    <tr>
      <th>Workout date</th>
      <th>Comments</th>
      <th>Weight</th>
      <th>Bone density</th>
      <th>Bmi</th>
      <th>Body fat</th>
      <th>Muscle mass</th>
      <th>Water</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.workout_date %></td>
        <td><%= workout.comments %></td>
        <td><%= workout.weight %></td>
        <td><%= workout.bone_density %></td>
        <td><%= workout.bmi %></td>
        <td><%= workout.body_fat %></td>
        <td><%= workout.muscle_mass %></td>
        <td><%= workout.water %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path, class: "btn btn-primary" %>
