<p id="notice"><%= notice %></p>

<p>
  <strong>Workout date:</strong>
  <%= @workout.workout_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @workout.comments %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @workout.weight %>
</p>

<p>
  <strong>Bone density:</strong>
  <%= @workout.bone_density %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @workout.bmi %>
</p>

<p>
  <strong>Body fat:</strong>
  <%= @workout.body_fat %>
</p>

<p>
  <strong>Muscle mass:</strong>
  <%= @workout.muscle_mass %>
</p>

<p>
  <strong>Water:</strong>
  <%= @workout.water %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
