<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-sm">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="col-sm">
      <%= form.label :total_set %>
      <%= form.number_field :total_set, class: "form-control" %>
    </div>

    <div class="col-sm">
      <%= form.label :weights %>
      <%= form.text_field :weights, class: "form-control" %>
    </div>

    <div class="col-sm">
      <%= form.label :duration %>
      <%= form.number_field :duration, class: "form-control" %>
    </div>

    <div class="col-sm">
      <%= form.label :workout_id %>
      <%= form.number_field :workout_id, class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm">
      <%= form.label :comments %>
      <%= form.text_area :comments, class: "form-control" %>
    </div>
  </div>

  <br />

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
