<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1>Exercises</h1>
<%= render "layouts/search" %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total set</th>
      <th>Weights</th>
      <th>Duration</th>
      <th>Comments</th>
      <th>Workout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.total_set %></td>
        <td><%= exercise.weights %></td>
        <td><%= exercise.duration %></td>
        <td><%= exercise.comments %></td>
        <td><%= exercise.workout_id %></td>
        <td><%= link_to 'Show', exercise %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path, class: "btn btn-primary" %>
