<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Total set:</strong>
  <%= @exercise.total_set %>
</p>

<p>
  <strong>Weights:</strong>
  <%= @exercise.weights %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @exercise.duration %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @exercise.comments %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @exercise.workout_id %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
