<%= search_form_for @q do |f| %>
  <div class="row float-right mr-1" style="max-width: 400px">
    <%= f.search_field @search_string.to_sym, value: params[:q].try(:values).try(:first), placeholder: "Search", class: "form-control col-sm mr-3" %>
    <%= f.submit "Search", class: "btn btn-primary col-sm", style: "max-width: 100px" %>
  </div>
<% end %>
<br />
<br />
<br />
