<div id="accordion">

  <div class="card">
    <div class="card-header" style="padding: 0; margin: 0" id="headingMembers">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMembers" aria-expanded="true" aria-controls="collapseMembers">
        Members
      </button>
    </div>
    <div id="collapseMembers" class="collapse <%= controller.controller_name == 'members' ? 'show' : '' %>" aria-labelledby="headingMembers" data-parent="#accordion">
      <div class="card-body">
        <%= link_to 'Members', members_path %><br />
        <%= link_to 'New member', new_member_path %>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" style="padding: 0; margin: 0" id="headingWorkouts">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseWorkouts" aria-expanded="true" aria-controls="collapseWorkouts">
        Workouts
      </button>
    </div>
    <div id="collapseWorkouts" class="collapse <%= controller.controller_name == 'workouts' ? 'show' : '' %>" aria-labelledby="headingWorkouts" data-parent="#accordion">
      <div class="card-body">
        <%= link_to 'Workouts', workouts_path %><br />
        <%= link_to 'New workout', new_workout_path %>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" style="padding: 0; margin: 0" id="headingExercises">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseExercises" aria-expanded="true" aria-controls="collapseExercises">
        Exercises
      </button>
    </div>
    <div id="collapseExercises" class="collapse <%= controller.controller_name == 'exercises' ? 'show' : '' %>" aria-labelledby="headingExercises" data-parent="#accordion">
      <div class="card-body">
        <%= link_to 'Exercises', exercises_path %><br />
        <%= link_to 'New exercise', new_exercise_path %>
      </div>
    </div>
  </div>
</div>

